.DS_Store

# Ignore all hidden files and directories
# except .editorconfig, .gitattributes, .gitignore and .travis.yml
.*
!/.editorconfig
!/.gitattributes
!/.gitignore
!/.travis.yml
!/.github

/resources
/licenseListPublisher-*.jar*

# vim backup/swap files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.*~
*~
*.txt~ # 
*.md~  # These 3 are overkill but meh, no harm done
*.xml~ # 
